<div class="course-section">
    <h3>{{lesson.titleLesson}} </h3>
    <div class="panel-group">
        {{#if lesson.videos.length}}
        {{#each lesson.videos}}
        <div class="course-panel-heading">
            <div class="panel-heading-left">
                <div class="course-lesson-icon">
                    <i class="fa fa-play-circle-o"></i>
                </div>
                <div class="title">
                    <h4>{{@index}} :
                        {{this.titleVideo}}
                        <span
                            class="badge-item video">video</span>
                    </h4>
                </div>
            </div>
            <div class="panel-heading-right">
                {{>model-play-video data = this }}
            </div>
        </div>
        {{/each}}
        {{else}}

        {{/if}}
    </div>
</div>