<header class="ttr-header">
    <div class="ttr-header-wrapper">
        <!--sidebar menu toggler start -->
        <div class="ttr-toggle-sidebar ttr-material-button">
            <i class="ti-close ttr-open-icon"></i>
            <i class="ti-menu ttr-close-icon"></i>
        </div>
        <!--sidebar menu toggler end -->
        <!--logo start -->
        <!--logo end -->
        <div class="ttr-header-menu">
            <!-- header left menu start -->
            <ul class="ttr-header-navigation">
                <li>
                    <a href="/"
                        class="ttr-material-button ttr-submenu-toggle">HOME</a>
                </li>
                <li>


                </li>
            </ul>
            <!-- header left menu end -->
        </div>

        <!-- header right menu end -->

        <!--header search panel start -->

        <!--header search panel end -->
    </div>
</header>