<form class="contact-bx" method="POST"
    action="/resetPassword/{{token}}">
    <div class="row placeani">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="input-group">
                    <label>New
                        Password</label>
                    <input name="password" type="password"
                        required class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <div class="input-group">
                    <label>Confirm
                        Password</label>
                    <input name="passwordConfirm"
                        type="password" required
                        class="form-control" />
                </div>
            </div>
        </div>

        <div class="col-lg-12 m-b30">
            <button type="submit" class="btn button-md">
                Update Password
            </button>
        </div>
        <!-- <div class="col-lg-12">
							<h6>Sign Up with Social media</h6>
							<div class="d-flex">
								<a class="btn flex-fill m-r5 facebook" href="#"><i class="fa fa-facebook"></i>Facebook</a>
								<a class="btn flex-fill m-l5 google-plus" href="#"><i class="fa fa-google-plus"></i>Google Plus</a>
							</div>
						</div> -->
    </div>
</form>