<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from educhamp.themetrades.com/demo/admin/user-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Feb 2019 13:11:35 GMT -->

<head>
    <!-- META ============================================= -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description"
        content="EduChamp : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title"
        content="EduChamp : Education HTML Template" />
    <meta property="og:description"
        content="EduChamp : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no" />

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="../error-404.html"
        type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon"
        href="assets/images/favicon.png" />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>EduChamp : Education HTML Template</title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport"
        content="width=device-width, initial-scale=1" />

    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css"
        href="/assetsAdmin/css/assets.css" />
    <link rel="stylesheet" type="text/css"
        href="/assetsAdmin/vendors/calendar/fullcalendar.css" />

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css"
        href="./assetsAdmin/css/typography.css" />

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css"
        href="./assetsAdmin/css/shortcodes/shortcodes.css" />

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css"
        href="/assetsAdmin/css/style.css" />
    <link rel="stylesheet" type="text/css"
        href="/assetsAdmin/css/dashboard.css" />
    <link class="skin" rel="stylesheet" type="text/css"
        href="/assetsAdmin/css/color/color-1.css" />
    <script
        src='https://cdn.tiny.cloud/1/87zlohnjw8dya78b7w2uegqmti05cy817dgerert5n6110a2/tinymce/5/tinymce.min.js'
        referrerpolicy="origin">
        </script>
    <script>
        tinymce.init({
            selector: '#addcourses',
            height: 500,

            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            image_title: true,
            /* enable automatic uploads of images represented by blob or data URIs*/
            automatic_uploads: true,
            /*
              URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
              images_upload_url: 'postAcceptor.php',
              here we add custom filepicker only to Image dialog
            */
            file_picker_types: 'image',
            /* and here's our custom image picker*/
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                /*
                  Note: In modern browsers input[type="file"] is functional without
                  even adding it to the DOM, but that might not be the case in some older
                  or quirky browsers like IE, so you might want to add it to the DOM
                  just in case, and visually hide it. And do not forget do remove it
                  once you do not need it anymore.
                */

                input.onchange = function () {
                    var file = this.files[0];

                    var reader = new FileReader();
                    reader.onload = function () {
                        /*
                          Note: Now we need to register the blob in TinyMCEs image blob
                          registry. In the next release this part hopefully won't be
                          necessary, as we are looking to handle it internally.
                        */
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);

                        /* call the callback and populate the Title field with the file name */
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            },
        });
    </script>
    <script>
        tinymce.init({
            selector: '.addcourses-admin',
            height: 500,

            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            image_title: true,
            /* enable automatic uploads of images represented by blob or data URIs*/
            automatic_uploads: true,
            /*
              URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
              images_upload_url: 'postAcceptor.php',
              here we add custom filepicker only to Image dialog
            */
            file_picker_types: 'image',
            /* and here's our custom image picker*/
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                /*
                  Note: In modern browsers input[type="file"] is functional without
                  even adding it to the DOM, but that might not be the case in some older
                  or quirky browsers like IE, so you might want to add it to the DOM
                  just in case, and visually hide it. And do not forget do remove it
                  once you do not need it anymore.
                */

                input.onchange = function () {
                    var file = this.files[0];

                    var reader = new FileReader();
                    reader.onload = function () {
                        /*
                          Note: Now we need to register the blob in TinyMCEs image blob
                          registry. In the next release this part hopefully won't be
                          necessary, as we are looking to handle it internally.
                        */
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);

                        /* call the callback and populate the Title field with the file name */
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            },
        });
    </script>

</head>

<body class="ttr-opened-sidebar ttr-pinned-sidebar">
    <!-- header start -->
    {{> header-user}}
    <!-- header end -->
    <!-- Left sidebar menu start -->
    {{> nav-bar-user}}
    <!-- Left sidebar menu end -->

    <!--Main container start -->
    <main class="ttr-wrapper">
        <div class="container-fluid">

            <!-- Your Profile Views Chart -->
            {{> @partial-block }}
            <!-- Your Profile Views Chart END-->

        </div>
    </main>
    <div class="ttr-overlay"></div>

    <!-- External JavaScripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script
        src="/assets/vendors/bootstrap/js/popper.min.js"></script>
    <script
        src="/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    {{!-- <script
        src="/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script> --}}
    <script
        src="/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script
        src="/assets/vendors/magnific-popup/magnific-popup.js"></script>
    <script
        src="/assets/vendors/counter/waypoints-min.js"></script>
    <script
        src="/assets/vendors/counter/counterup.min.js"></script>
    <script
        src="/assets/vendors/imagesloaded/imagesloaded.js"></script>
    <script
        src="/assets/vendors/masonry/masonry.js"></script>
    <script
        src="/assets/vendors/masonry/filter.js"></script>
    <script
        src="/assets/vendors/owl-carousel/owl.carousel.js"></script>
    <script
        src="/assets/vendors/scroll/scrollbar.min.js"></script>
    <script src="/assets/js/functions.js"></script>
    <script
        src="/assets/vendors/chart/chart.min.js"></script>
    <script src="/assets/js/admin.js"></script>
    <script
        src="/assets/vendors/switcher/switcher.js"></script>
</body>

<!-- Mirrored from educhamp.themetrades.com/demo/admin/user-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Feb 2019 13:11:35 GMT -->

</html>