//#ul cos id comment
<li>
    <div class="image-holder">
        <img src="upload/blog/avatar4.jpg" alt="">
    </div>
    <div class="comment-content">
        <h2>
            Margaret
            <span class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
        </h2>
        <p>Easy to
            install,
            reasonable
            price!</p>
    </div>
</li>