<!-- Container -->

<!-- Header
		    ================================================== -->
<!-- End Header -->

<!-- home-section 
			================================================== -->
<section id="home-section">
	<div id="rev_slider_202_1_wrapper"
		class="rev_slider_wrapper" data-alias="concept1"
		style="background-color:#000000;padding:0px;">
		<!-- START REVOLUTION SLIDER 5.1.1RC fullscreen mode -->
		<div id="rev_slider_202_1" class="rev_slider"
			data-version="5.1.1RC">
			<ul>
				<!-- SLIDE  -->
				{{#each bestSaleCourses}}
				{{> course-carousel-list data = this dataId = ( getDataIdByIndex @index) index = (increaseIndexByOne @index)}}
				{{/each}}

			</ul>
			<div class="tp-bannertimer tp-bottom"
				style="visibility: hidden !important;">
			</div>
		</div>
	</div>
	<!-- END REVOLUTION SLIDER -->
</section>
<!-- End home section -->

<!-- feature-section 
			================================================== -->
<section class="feature-section">
	<div class="container">
		<div class="feature-box">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="feature-post">
						<div class="icon-holder">
							<i class="fa fa-umbrella"></i>
						</div>
						<div class="feature-content">
							<h2>
								Online Learn Courses
								Management
							</h2>
							<p>Analyzing negative
								materials about your
								brand and addressing
								them with sentiment
								analysis and press.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-post">
						<div class="icon-holder color2">
							<i class="fa fa-id-card-o"></i>
						</div>
						<div class="feature-content">
							<h2>
								Learn from the
								masters of the field
								online
							</h2>
							<p>Analyzing negative
								materials about your
								brand and addressing
								them with sentiment
								analysis and press.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-post">
						<div class="icon-holder color3">
							<i
								class="fa fa-handshake-o"></i>
						</div>
						<div class="feature-content">
							<h2>
								An
								Introduction-Skills
								For Learners
							</h2>
							<p>Analyzing negative
								materials about your
								brand and addressing
								them with sentiment
								analysis and press.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End feature section -->

<!-- collection-section 
			================================================== -->
<section class="collection-section">
	<div class="container">
		<div class="title-section">
			<div class="left-part">
				<span>Categories</span>
				<h1>Trending Collection</h1>
			</div>
			<div class="right-part">
				<a class="button-one" href="#">View
					All Courses</a>
			</div>
		</div>
		<div class="collection-box">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="collection-post">
						<div class="inner-collection">
							<img src="upload/collection/desgin.webp"
								alt="title">
							<a href="#" class="hover-post">
								<span
									class="title">Information
									Technology</span>
								<span class="numb-courses">4
									Courses</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="collection-post">
						<div class="inner-collection">
							<img src="upload/collection/desgin.webp"
								alt="">
							<a href="#" class="hover-post">
								<span
									class="title">Business</span>
								<span class="numb-courses">2
									Courses</span>
							</a>
						</div>
					</div>
					<div class="collection-post">
						<div class="inner-collection">
							<img src="upload/collection/technology.webp"
								alt="">
							<a href="#" class="hover-post">
								<span
									class="title">Languages</span>
								<span class="numb-courses">2
									Courses</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="collection-post">
						<div class="inner-collection">
							<img src="upload/collection/photography.webp"
								alt="">
							<a href="#" class="hover-post">
								<span
									class="title">Makerting</span>
								<span class="numb-courses">1
									Courses</span>
							</a>
						</div>
					</div>
					<div class="collection-post">
						<div class="inner-collection">
							<img src="upload/collection/desgin.webp"
								alt="">
							<a href="#" class="hover-post">
								<span
									class="title">Design</span>
								<span class="numb-courses">3
									Courses</span>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End collection section -->

<!-- countdown-section 
			================================================== -->
<section class="countdown-section">
	<div class="container">
		<div class="countdown-box">
			<h1>Limited Time: Get My Book For Free!
			</h1>
			<p>Learn anytime, anywhere. Best
				Courses. Top Instituion.</p>
			<div class="countdown-item"
				data-date="2019/12/14">
				<div class="countdown-col">
					<span
						class="countdown-unit countdown-days">
						<span class="number"
							id="days"></span>
						<span class="text">days</span>
					</span>
				</div>
				<div class="countdown-col">
					<span
						class="countdown-unit countdown-hours">
						<span class="number"
							id="hours"></span>
						<span class="text">hours</span>
					</span>
				</div>
				<div class="countdown-col">
					<span
						class="countdown-unit countdown-min">
						<span class="number"
							id="minutes"></span>
						<span class="text">minutes</span>
					</span>
				</div>
				<div class="countdown-col">
					<span
						class="countdown-unit countdown-sec">
						<span class="number"
							id="seconds"></span>
						<span class="text">seconds</span>
					</span>
				</div>
			</div>
			<p>We offer professional SEO services
				that help websites increase their
				organic search score drastically in
				order to compete for the highest
				rankings.</p>
			<a class="button-two" href="#">Get my
				free book</a>
		</div>
	</div>
</section>
<!-- End countdown section -->

<!-- popular-courses-section 
			================================================== -->

{{> section-course-index data = newCourses nameSection="New Courses"}}
{{> section-course-index data = watchedCourses nameSection="Popular Watched  Course"}}