{{#> user-profile-layout}}
{{> title-user titleName='Review Course'}}
<div class="row">
    <div class="col-lg-12 m-b30">
        <div class="widget-box">
            <div class="wc-title">
                <h4>Add Review Course</h4>
            </div>
            <div class="widget-inner mb-5">
                <form class="edit-profile m-b30"
                    action="/user/course/{{idCourse}}/review"
                    method="POST">
                    <div class="">

                        <div class="form-group row">
                            <label
                                class="col-sm-2 col-form-label">Your
                                Ratting</label>
                            <div class="col-sm-7">
                                <select required
                                    class="form-control"
                                    name="rating">

                                    <option>1
                                    </option>
                                    <option>2
                                    </option>
                                    <option>3
                                    </option>
                                    <option>4
                                    </option>
                                    <option>5
                                    </option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="">

                        <div class="form-group row">
                            <label
                                class="col-sm-2 col-form-label">Your
                                Review</label>

                            <div class="col-sm-7">

                                <textarea
                                    class="form-control"
                                    required
                                    name="review"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-7">
                                    <button type="submit"
                                        class="btn">Add
                                        Review</button>
                                    <button type="reset"
                                        class="btn btn-danger">
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{/user-profile-layout}}